
@font-face {
  font-family: 'ThaiSansNeueLight';
  src: url('ThaiSansNeueLight.eot?#iefix') format('embedded-opentype'),  url('ThaiSansNeueLight.woff') format('woff'), url('ThaiSansNeueLight.ttf')  format('truetype'), url('ThaiSansNeueLight.svg#ThaiSansNeueLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
